$primary : #FF7A00;
$secondary : #1E1E1E;
$success: #00FF19;
$component-active-bg:#262626;
$navbar-light-toggler-border-color:#FF7A00;
$navbar-light-toggler-icon-bg: FF7A00;
@import '../../node_modules/bootstrap/scss/bootstrap';

