* {
  margin: 0px;
  padding: 0px;
}

.mainContainer{
  height: 100vh;
}
.homeCon {
  height: 90%;
}
/* Members */
div .memberBlock{
  height: 60px;
  width: 444px;

}

.square-image {
  width: 50px; /* Set the desired width for your square image */
  height: 50px; /* Set the same height as the width for a square aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-image img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

/* Members */
.timeResult h3{
  /*text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);*/
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.timeResult p{
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Password */
div .selForm{
  font-size: small;
  width: 216px;
}
div .calBtn{
  width: 130px;
}
/* Password */
::-webkit-input-placeholder{
  font-size: 2rem;
}
::-webkit-text-stroke-width{
   .2em;
        letter-spacing: 0.2em;
/* NavBar */

.navbar-brand-with-image img {
  max-height: 40px;
  height: auto; 
  margin-bottom: 8px;
}
.nav-item .active{
  background-color: #f29a04;
  border-radius: 0px !important;
}
/* NavBar */